[2014-04-06 19:16] jakepruitt opened #1 "404 error from link in README.md"
![screenshot_040614_121056_pm](https://cloud.githubusercontent.com/assets/5084263/2626157/8e08f3d6-bdbf-11e3-867d-d6095c967c3a.jpg)

When I click the "component page" link in the README.md, I am directed to an empty page (http://addyosmani.github.io/google-signin/).  I inspected the page and found that the file "platform.js" was responding with a 404 error (see above).  I am using the latest versi

[2014-04-07 21:34] addyosmani opened #3 "Add note about multiple scopes"
Add a note to the description of the element, that multiple scopes should be space-delimited.

[2014-04-09 16:54] addyosmani opened #5 "Support sign-out"
I've implemented initial support for sign-out via `gapi.auth.signOut()` but am running into some issues with this actually logged the user out. Testing on gh-pages (as sign-out won't work on localhost), it is able to execute the logout call but doesn't respect it.

[2014-05-02 09:54] #5 closed, assigned to nobody

[2014-05-02 09:56] #3 closed, assigned to nobody

[2014-05-02 09:56] #1 closed, assigned to nobody

[2014-05-11 18:50] ebidel opened #7 "clientId should not be required"
The Spreadsheets API for example doesn't require it. Throwing an exception means this element can't be used for that API.

Can you fire an error event instead?

[2014-05-12 00:08] ebidel opened #8 "Doesn't work with multiple instances that use it (creates shared state)"
I haven't fully debugged `this`, reference the last instance of the element that relies on google-signin. For example:

[code]

Where `google-sheet` includes `google-signin` inside of the element def. When it fires `google-signin-success`, the element calls:

[code]

`this` always reports `<google-sheet id="two" key="123"></google-sheet>`. I would expect to see both the elements get logged.

I bel

[2014-05-16 14:54] sgomes opened #9 "google-signin enforces a strict UI"
We may want to consider offering a UI-less version of google-signin, or at least some more choice in how that UI is presented, e.g. by letting the user pass in the UI content.

[2014-05-22 15:02] jeffposnick opened #10 "googlewebcomponents.github.io needs to be added as an approved JS origin"
`googlewebcomponents.github.io` isn't listed as an approved JavaScript origin in the Google Developers Console for 400542164111-q94vcbin3jp3fb2a0su1nm6gt4qpf86t.apps.googleusercontent.com, so the [live demo](http://googlewebcomponents.github.io/google-signin/components/google-signin/demo.html) leads to a `Error: origin_mismatch` when you test it out.

[2014-05-24 00:41] benatkin opened #12 "demo isn't working"
I get `origin_mismatch` when I click Authorize on [this page](http://googlewebcomponents.github.io/google-signin/components/google-signin/demo.html):

![screen shot 2014-05-23 at 5 39 47 pm](https://cloud.githubusercontent.com/assets/4126/3073172/09adceb2-e2dc-11e3-8e6e-4ca2dbc504dc.png)

[2014-06-10 14:19] #12 closed, assigned to nobody

[2014-06-12 12:35] #10 closed, assigned to nobody

[2014-06-13 16:10] silenceisgolden opened #15 "cookiepolicy is a required field"
When I add the button to my page, the following error appears:

![screen shot 2014-06-13 at 11 01 48 am](https://cloud.githubusercontent.com/assets/2043439/3272076/51056688-f314-11e3-8d75-5fcd0e52cb55.png)

Cross Origin policy aside (I'm assuming that is because of localhost), I'm wondering why the error below that appears when I click the button. The window does not pop up to start the authorizat

[2014-06-22 22:01] philipwalton opened #18 "We should switch <input> to <button>"
`<button>` elements have several styling advantages over `<input>` elements and AFAIK, no disadvantages. Probably the biggest advantage is they allow the use of `::before` and `::after` pseudo-element styling.

In addition, `<button>` elements can have children so users could pass their own, already styled elements inside.

[code]

I think this approach would go a long way toward helping users sty

[2014-06-24 19:40] silenceisgolden opened #19 "Support state parameter"
Currently there is no attribute available for adding a state parameter (CSRF). The pattern I have been using is the round trip the state parameter through the first call, then keep it through the rest of the hybrid auth process. This could possibly tie into adding support for the hybrid process, although I do not know if that is considered out of scope for this element. If this support can be adde

[2014-06-25 02:35] therealklanni opened #20 "google-signin Demo origin_mismatch error"
Pretty self-explanatory, but on the [demo page](https://googlewebcomponents.github.io/google-signin/components/google-signin/demo.html) when you click the Signin button, the Auth dialog displays the `origin_mismatch` error, as seen below.

![screen shot 2014-06-24 at 7 32 29 pm](https://cloud.githubusercontent.com/assets/626347/3380906/12c7ad4e-fc11-11e3-9da3-24177df60488.png)

[code]

[2014-06-25 15:10] #15 closed, assigned to nobody

[2014-07-01 15:55] ebidel opened #22 "Switch to core-signals"
https://github.com/polymer/core-signals

[2014-07-01 16:40] beriberikix opened #23 "Use custom rendered button"
[Currently](https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin.html#L108), the button uses a template, adds a span and does some keypress listening. The Google+ Sign-In button [already supports this](https://developers.google.com/+/web/signin/customize) in a cleaner (and kinda safer) way.

You could implement this as an optional light dom element, otherwise render a sim

[2014-07-01 16:44] beriberikix opened #24 "Add Offline Access support"
Many applications have a server-side component that implements long-running processes or calls when the user is not at the keyboard. The Google+ Sign-In button has a simple attribute for [offline access](https://developers.google.com/+/web/signin/server-side-flow#step_4_add_the_sign-in_button_to_your_page). As an added convenience, the button could automatically [POST the code](https://developers.

[2014-07-01 22:11] beriberikix opened #25 "Fetch scopes, don't cache them"
Storing an array of scopes is a bit flaky as it only accounts for calls made in the same session (See [here](https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin.html#L179) and [here](https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin.html#L143).)

Either call gapi.auth.getToken() or hit the [Tokeninfo endpoint](https://developers.google.com/ac

[2014-07-15 17:20] #20 closed, assigned to nobody

[2014-07-30 13:45] Emasoft opened #27 "Is it possible to restrict the access only to users with google two factor auth enabled?"
For security reasons I need to restrict the access only to people with google two factor authentication enabled. Is it possible to do this with the google signin component?

[2014-07-30 17:03] ebidel opened #28 "move polymer-signals -> core-signals"

[2014-08-01 23:10] #28 closed, assigned to nobody

[2014-08-01 23:18] ebidel opened #31 "Another release"
There were some incorrect deps and move to core-signals that need accounting for.

https://github.com/GoogleWebComponents/google-signin/commit/10262dad8587c08d78997f1edb922af0dfe39c39
https://github.com/GoogleWebComponents/google-signin/commit/ba247cf18468531efa40ad2fa2bf5ca69b9fe218

cc @addyosmani

[2014-08-06 18:19] #8 closed, assigned to nobody

[2014-08-06 19:52] #18 closed, assigned to nobody

[2014-08-06 19:55] #7 closed, assigned to nobody

[2014-08-06 19:57] #9 closed, assigned to nobody

[2014-08-06 20:02] #22 closed, assigned to nobody

[2014-08-06 20:12] #27 closed, assigned to nobody

[2014-08-06 20:33] #23 closed, assigned to nobody

[2014-08-06 21:37] hjfreyer opened #32 "bower.json requests conflicting polymer versions"
It requests #master directly, and a concrete version via core-signals. Bower complains when trying to install.

[2014-08-06 22:42] wintersandroid opened #34 "Keep signed in after token expires."
I am having a bit of trouble with this, my web frontend works fine for the first hour, which is the validity of the token, after this I can not figure out how to refresh the token so I dont have to re-load the page. I have tried all sorts, but always the calls come back to the server with a "Null User"

I have not had this problem with authenticated python scripts accessing the same api on the sam

[2014-08-11 17:05] #24 closed, assigned to Zoramite

[2014-08-12 15:19] silenceisgolden opened #38 "Should font be loaded via font-roboto instead of in style?"
I'm running a test server on localhost and getting the XMLHTTPRequest error outlined here http://stackoverflow.com/questions/24894369/google-fonts-api-and-polymer-cors-issues. Should this component load the font by using font-roboto rather than using the link href?

[2014-08-12 17:36] #38 closed, assigned to nobody

[2014-08-17 17:43] mkazlauskas opened #44 "Sign out error"
Not sure if it's a problem of this component but 'sign out' doesn't work as I would want it to. Button state changes to 'sign in' but when I refresh the page it still shows as signed in. I get a feeling that it still has access to my app so it signs in automatically. Is there any way to make the sign out permanent (possibly remove the access of my app)?

This is what I get when trying to sign out:

[2014-08-17 18:46] #44 closed, assigned to nobody

[2014-08-25 02:47] hjfreyer opened #47 "google-signin-aware doesn't work if attached after oauth completed"
This took me a while to figure out. If it's not clear what I mean I can create a small example, but it's a bit annoying since I can't just make a fiddle.

When a google-signin-aware element requests scopes that have not yet been granted via OAuth (either the user hasn't signed off on them, or we just haven't done the immediate handshake yet), the flow basically looks like:

[code]

But if a google

[2014-08-29 08:21] plequang opened #49 "google-signin-offline event is not fired as expected"
Hi,

I'm using latest  revision of google-sign component in order to use the `offline="true"` attribute to implement Google's "one time code" authentication flow.

When using this attribute, the "google-signin-offline" event is not fired as expected.

I think this is because there is a small mistake in the code, line 378

[code]

I've solved the issue with the following code :

[code]

Here's the

[2014-08-29 15:58] #49 closed, assigned to Zoramite

[2014-08-29 16:02] #47 closed, assigned to Zoramite

[2014-09-01 13:29] plequang opened #51 "Incorrect import of font-roboto and incorrect font-family name"
Hi,

The link element to import the font-roboto component in google-signin.html is incorrect :

[code]

should be

[code]

This is annoying because vulcanize is failing to load this file.

Also, font-roboto componenent is using RobotoDraft font, so the syle definition is also incorrect.

Instead of

[code]

it should be  :

[code]

And finally, I think we can use font-roboto#0.4.0 instead of font-

[2014-09-01 17:19] ebidel opened #52 "Bower resolution issues"
The 0.1.0 release has resolution issue with font-roboto. It's pulling #master when it should pull ~0.4.0

[2014-09-02 17:21] #51 closed, assigned to nobody

[2014-09-07 22:21] tremendus opened #53 "Inconsistent behaviour of signin component"
Thanks for the contribution for this web component

Issue: when using the same codebase and same browser on two different machines (one iMac and one Macbook air), both running Chrome 37.0.2062.94 (marked as 'up to date') I see two different behaviors exhibited when already logged in, then calling the URL or refreshing the page.

On the iMac, I am shown to be logged out.

On the Macbook, I am initi

[2014-09-12 21:27] #53 closed, assigned to nobody

[2014-09-25 05:22] ebidel opened #54 "Implement Changed watchers for wide/height/labelSignin..."
The element currently does not handle dynamic changes updates to these properties.

[2014-10-09 08:48] JosefJezek opened #55 "Modular design for other providers"
Could you make modular element with support for other auth providers?

See
- https://developers.google.com/+/best-practices/facebook
- http://adodson.com/hello.js/

[2014-10-09 08:51] #55 closed, assigned to nobody

[2014-10-13 19:22] #54 closed, assigned to Zoramite

[2014-10-26 19:01] davidmaxwaterman opened #56 "chrome extension?"
Can this work in a chrome extension? I've not had any success

I'm specifically interested to see it used in code injected into a (3rd party) web page by a content script, where the origin of the web page is not the same as the redirect_url which is ```https://appid.chromiumapp.org/provider_cb```.

[2014-11-06 02:14] wprater opened #57 "issue with logout"
after logging out and refreshing the page, the tokens seems to persist.  Im experiencing this on the demo page on #master as well.

[2014-11-07 08:29] nomego opened #60 "Not working in Android "web app""
When using the google-signin component / button for a mobile web app (Add to homescreen, start without browser controls, "web app" mode) the G+ sign-in doesn't work.
Pressing the button opens a new window in Chrome where the user can approve the G+ sign-in but after the authorization is complete, the user it not returned to the web app.

Is there any way to solve this ?

[2014-11-11 15:27] nomego opened #61 "Remove need for paper-focusable"
paper-focusable is deprecated and there is not 0.5 version which the bower.json depends on.

Please remove this dependency.

[2014-11-14 23:31] #61 closed, assigned to nobody

[2014-11-20 09:12] plequang opened #65 "'google-signin-offline' events fired twice"
Hi,
Under some circumstances, the event 'google-signin-offline' is fired twice.

I've used the following code in the demo.html page to reproduce the issue :
[code]
The event is fired twice only when the user sign in for the first time, i.e. when he his prompted for consent.
Looking  at the stack trace, I've found that the event 'core-signal-google-auth-result'is fired once from the gloabally defin

[2014-11-24 14:57] mnieper opened #66 "Delayed creation of signin button and immediate signin"
If the <google-signin> element is not created timely, an already authorized user is not signed in automatically.

[2014-11-25 03:24] treeder opened #67 "Declarative event mappings not working on google-signin"
I'm referring to the on-\* events as described here: https://www.polymer-project.org/docs/polymer/polymer.html#declarative-event-mapping . I'm new to polymer so maybe those have to be explicitly added to the component, but it sounds like Polymer automagically does it, or am I wrong there and you have to add the event listener?

I tried doing this:

[code]

But it's never called. However, this work

[2014-11-25 11:27] mnieper opened #68 "Uncaught ReferenceError: gapi is not defined"
This error is shown in the console under the following circumstances:

1) There is a `<google-signin>` element on the page.
2) There is a `<google-signin-aware>` element on the page.
3) The `<google-signin-aware>` element is `domReady` before gapi has been initialized (see https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin.html#L314).

The error is generated at  https:/

[2014-11-26 17:28] #67 closed, assigned to nobody

[2014-12-16 14:19] crhym3 opened #69 "Split <google-signin> and <google-signin-aware>"
Place them into separate files. Sounds reasonable?

[2014-12-30 22:29] vl4dt opened #70 "google-signin-success & gapi.client: then(): this == [object Window]"
I ran into this situation which may or may not be an issue with Polymer or the Google API, however I tried everything to fix this without success.

I'll try to describe the issue as clear as possible,

The following is a reduced version of the function that handles the **google-signin-success** message:

[code]

The function invokes a custom API method used to verify the user email is allowed to u

[2015-01-26 18:07] vl4dt commented on #70
It was just my ignorance about promises:
https://developers.google.com/api-client-library/javascript/features/promises

[2015-01-26 18:07] #70 closed

[2015-01-30 21:50] vl4dt opened #71 "Uncaught TypeError: Cannot read property 'clear' of null"
I keep getting this error when trying to sign out:

    Uncaught TypeError: Cannot read property 'clear' of nullcb=gapi.loaded_0:473
    Fscb=gapi.loaded_0:493
    jxcb=gapi.loaded_0:503
    (anonymous function)google-signin.html:641
    Polymer.signOutevents.js:40
    events.dispatchMethodevents.js:73
    events.getEventHandler

[2015-02-05 23:11] wprater opened #72 "Multiple accounts causes sign out on page reload"
If one has multiple accounts setup and authenticates with a couple of them, switching back and forth on these accounts causes one of them to never immediately auth after a page refresh.  Only one of the accounts will allow itself to persist auth.

Furthermore, the accounts that don't immediately sign back in call the `handleAuthResult` callback twice each with the `authResult.error` set to `user_s

[2015-02-05 23:32] wprater commented on #72
in a separate test that uses a [pure js flow](https://developers.google.com/+/web/signin/javascript-flow), I can get similar behavior when loading `client.js` vs `client:platform.js`.  Overall, it's seems to be quite inconsistent when using multiple accounts.

[2015-02-07 00:08] wprater commented on #72
@addyosmani what is the consequence of using `client:platform.js` in `google-client-api`?  It seems to solve the issue.  I've also [created a workaround](http://asdf) to `authenticate` immediately if the `user_signed_out` error is present in the "page-level configuration the callback".  The workaround uses `gapi.auth.authorize` which has the side effect of not working with `signOut`.  So I modifie

[2015-02-13 21:00] StevenDewey commented on #71
I'm getting the exact same error...

[2015-02-18 17:50] Zoramite commented on #71
Is this a transient error, or does it happen every time? Can you give an example of how you are using the signin button when it fails?

[2015-02-25 20:38] #31 closed

[2015-02-26 18:27] #32 closed

[2015-02-26 18:28] #52 closed

[2015-02-26 18:48] Zoramite commented on #72
Can you clarify what you mean by "Switching back and forth on these accounts"?

[2015-02-26 18:52] #57 closed

[2015-02-26 18:54] Zoramite commented on #60
I think the original problem with this bug was an issue with iOS: http://stackoverflow.com/questions/25804730/window-close-doesnt-work-on-ios-8-gm-seed

My understanding is that the latest version (or upcoming release?) should fix the bug with the `window.close` not actually working correctly.

[2015-02-26 19:01] wprater commented on #72
if you're to logout and and log into another account with the google
account switcher.

On Thu, Feb 26, 2015 at 10:48 AM Randy Merrill <notifications@github.com>
wrote:

[2015-02-26 19:02] Zoramite commented on #56
I haven't created a chrome extension with web components yet, but there should not be anything that would cause them to explicitly not work.

Off the top of my head, you may need to vulcanize the web components before using them in the extension. Also, you would need to make sure there are no security features that restrict you from adding scripts to the page.

Do you have any specific errors that

[2015-02-26 21:20] nomego commented on #60
Well I don't have an iOS device right now, but it doesn't work with Android either.

[2015-02-26 21:25] Zoramite commented on #60
Can you add more details about what you are seeing currently? Does the window just not close? If you manually close the window does it go back to the app and work normally? Does the immediate auth still work when you reload?

[2015-02-26 21:33] nomego commented on #60
Well a new window opens in the browser, I get to the account chooser, choose an account and get to a blank page.

Backing out of it and back to the app I'm not logged in, not after refreshing either.

The pilot app referenced in the issue is still available if you want to try it yourself.

[2015-02-27 17:23] davidmaxwaterman commented on #56
We don't need to vulcanize since the web components are injected into a web app context by the content script - we're using other web components in the same context.

I'm afraid we've moved on since I was trying to use this. We ended up not using GoogleWebComponents at all, and instead use the http interfaces via core-ajax directly. We avoided using api keys (which would be very visible to anyone

[2015-02-27 17:25] #56 closed

[2015-03-11 14:01] timbunch commented on #71
I'm getting the same error. Wondering if it's related to this: http://stackoverflow.com/questions/23153931/error-calling-signout-after-gapi-auth-authorize

[2015-03-11 20:19] gattasrikanth commented on #72
I had the same issue :( Till now was checking everywhere on internet except here of whats going wrong!!!
I have two accounts signed in the browser.
Open the demo page http://googlewebcomponents.github.io/google-signin/components/google-signin/demo.html
Click Sign in --> Choose account#1
Reload the page --> Account#1 is still signed in.
But If I choose Account#2 this user gets signed out after relo

[2015-03-11 20:42] Zoramite commented on #72
I did some checking. Google+ Sign-in does not support using multiple accounts. So this isn't a limitation specifically with the web component, but with the signin library itself.

[2015-03-11 20:42] #72 closed

[2015-03-11 22:15] gattasrikanth commented on #72
Thanks for the update. Can you suggest any workarounds? Anything I can manually edit inside google-signin.html file to check for second account? In my scenario all the users of my webapp are for sure logged with two accounts and I always need that second account only.

[2015-03-11 22:50] wprater commented on #72
@gattasrikanth https://github.com/GoogleWebComponents/google-signin/issues/72#issuecomment-73336930 seems to fix it for me, however, Im not sure the consequence, so I never went to use it that way.

[2015-03-12 00:10] gattasrikanth commented on #72
the workaround you mentioned says will only work on localhost. so how do implement it. i am not sure how to use platform.js and google-client-api that you mentioned.

[2015-03-12 00:51] wprater commented on #72
on older versions you could alter the lib url to `client.js:platform` to
fix the issue.  they've since changed how libs are loaded with the jsapi,
and I have not linked into it yet.

On an older commit, you can see where you'd change the file.  I would not
recommend this approach, since I never got any feedback as to the
repercussion of the change.
https://github.com/GoogleWebComponents/google-api

[2015-03-12 01:48] gattasrikanth commented on #72
Thanks again! I will take a look at it. My application is specific to a google apps domain and for a limited set of users only so i would like to fork and make a workaround. Mostly everything else on my app is finished and am just stuck with this bug. I have also tried if there is any way to include "hd=domain.com" so that only my domain users will be able to sign in but it looks like thats not po

[2015-03-15 19:12] wburgers opened #73 "Separate the client-id from the html"
Hi guys,

I have a question:
Is it possible to inject the client-id later using JS/Polymer?
I tried data binding the client-id into the google-signin element.
This breaks the login.

I want to create an app where all settings are in a different settings.js file.
The client-id I use personally, can't be used by other apps, because it is set to my URL in the api console.
But still it would be nice t

[2015-03-15 19:55] ebidel commented on #73
Data binding to clientId should work. Can you provide a jsbin of what's not working?

[2015-03-16 15:28] Zoramite commented on #73
The check for the `clientID` happens when attached. We could move the check over to when attempting to signin which might help with the timing. I'm not sure when the data binding actually occurs in regards to the `attached` event.

[2015-03-16 15:36] ebidel commented on #73
You could use a `clientIdChanged` to react to that property changing at any time (at init or later).

[2015-03-16 21:52] Zoramite commented on #73
With the changes to `gapi.auth2` I need to `init` the auth after loading `auth2` to trigger the immediate auth. Calling the `init` with different a different options throws errors after it has been called once.

I could watch the `clientId` for changes and check the value on attach. Whichever has a value first would `auth2.init` and any other changes would be ignored.

Does that sound like a reaso

[2015-03-16 23:52] ebidel commented on #73
:+1:

[2015-03-17 19:13] wburgers commented on #73
Sorry for my late response.
The problem is indeed that the connection attempt to the auth api happens when the element is declared, but data-binding happens later.

The solution looks solid.
Hope to see it implemented soon.

Thanks for both your fast responses (even on a sunday Eric! :+1: )

[2015-03-18 01:50] gattasrikanth commented on #72
I tried to change to platform.js but it doesn't seems tobe working. (Tested on appspot.com not on localhost). I have also tried to make some changes to google-signin.html like below.
if(result && result.error == 'immediate_failed') {
 var param = {'client_id': clientid, 'cookiepolicy': website, 'scope': scope, 'authuser': '1',
	            'requestvisibleactions': '','immediate': true,
        	}

[2015-03-20 14:53] #69 closed

[2015-03-21 12:32] addyosmani opened #75 "Release 0.3.0"
- [x] Author release notes
- [X] Bump bower.json to 0.3.0
- [X] Review and land new implementation
- [X] Tag new version
- [x] Publish new version to gh-pages
- [x] Investigate support for 0.3.0 in GWC elements using us as a dep

[2015-03-21 12:32] addyosmani commented on #75
cc @Zoramite

[2015-03-23 22:04] Zoramite commented on #75
Updated the [docs](http://googlewebcomponents.github.io/google-signin/components/google-signin/), [demo](http://googlewebcomponents.github.io/google-signin/components/google-signin/demo.html), and the [release notes](https://github.com/GoogleWebComponents/google-signin/releases/tag/v0.3.0) for the new version.

The updates to other GWC elements are in flight.

[2015-03-23 22:04] #75 closed

[2015-03-23 22:07] Zoramite commented on #25
With the latest update to `0.3.0` a lot of the internals have changed regarding how the the scopes are retrieved and manipulated. The `signin` element does not do any caching itself, instead it relies on the identity iframe to handle the caching.

I believe this issue is no longer relevant with the underlying changes.

An interesting experiment, watch what happens when you have two tabs open that

[2015-03-23 22:07] #25 closed

[2015-03-23 22:09] Zoramite commented on #34
Can you test your pages again with the `0.3.0` release? There were a lot of underlying changes to how the sessions and tokens are managed with the updated API. I think that they should make this problem go away. Feel free to reopen/open a new issue if the updated version does not fix the issue.

[2015-03-23 22:09] #34 closed

[2015-03-23 22:14] Zoramite commented on #65
As an update to this. There was a recent `0.3.0` release that should fix a lot of the double triggering issues. Unfortunately for this issue, the update also removed the `offline` attribute until I can get it working correctly with the updated API.

[2015-03-23 22:21] Zoramite commented on #66
@mnieper Can you try updating to the `0.3.0` version and also using the `<google-signin-aware>` component to watch for a login change? I am curious if this removes the race conditions that you are seeing.

[2015-03-23 22:23] Zoramite commented on #68
This should be fixed with the changes to version `0.3.0` sorry for the long delay.

[2015-03-23 22:23] #68 closed

[2015-03-23 22:24] Zoramite commented on #71
Can you try with the `0.3.0` version and see if you are still seeing this error?

[2015-03-24 12:27] plequang commented on #65
Thanks for the notice.
Actually, we had to move to Google OAuth signin, because we had issues with Google+ signin on phones (because it uses a popup window).

[2015-03-24 16:37] Zoramite commented on #65
@plequang What issues were you seeing on mobile? If you could open another bug with the issued you are seeing on mobile I can look into it more. Mobile is one of the places it should definitely work, so we need to improve it if it is not working correctly.

[2015-03-24 16:47] plequang commented on #65
Actually @nomego already reported issue #60 (We are working together on the same project).

As it seemed to be more a device issue rather than a google signin issue, I decided to move to "traditional oauth" as described here https://developers.google.com/accounts/docs/OpenIDConnect.

This solution works with iphone and android phones (and even with my windows phone, but that's not the main target)

[2015-03-24 17:13] Zoramite commented on #65
Thanks @plequang I'm looking into that issue more to see if I can reproduce it and figure out what is happening. I'll close this issue for now.

[2015-03-24 17:13] #65 closed

[2015-03-25 14:12] miyconst opened #76 "400. Error: redirect_uri_mismatch"
`<google-signin>` stopped working.

The demo at:
http://googlewebcomponents.github.io/google-signin/components/google-signin/demo.html

Returns 400. Error: `redirect_uri_mismatch` for every button.

![google-signin-error](https://cloud.githubusercontent.com/assets/6435556/6826363/feabde38-d311-11e4-9ab2-ddac3959c77d.PNG)

[2015-03-25 16:10] Zoramite commented on #76
Thanks for pointing this out. I'll check into it and see if this is an expected change with the updated API or not.

[2015-03-25 16:11] ebidel commented on #76
/sub

[2015-03-25 20:00] Zoramite commented on #76
@miyconst We found the issue. The developer console for the project was setup for `http://googlewebcomponents.github.io/` but for some reason the origin only accepts the `http://googlewebcomponents.github.io` format. It has been updated and should be working now.

We are looking into why it does not work when the domain has a trailing slash, but for now removing the trailing slash should work if y

[2015-03-25 20:00] #76 closed

[2015-03-30 18:18] gattasrikanth opened #77 "error: "internal_failure" when using 0.3.0 version with multiple accounts"
I tried this demo page at http://googlewebcomponents.github.io/google-signin/components/google-signin/demo.html with multiple google accounts signed in. Primary being gmail and secondary being a work account. When I clicked on Sign in account chooser is displayed, i Selected work account and its not signed in.
Below messages seen in console:
https://drive.google.com/file/d/0B71T1vBlMJ88YW90WTl1RkZ

[2015-04-01 23:23] TheMallen opened #78 "google-signin-success fires before a profile is chosen"
It seems to me that `google-signin-success` is fired when the authentication credentials are validated. There is no documented event for when a profile is chosen. This makes it overly difficult to build an application which cares what profile you have chosen. If there is something I am missing please let me know :)

[2015-04-02 12:21] Scarygami commented on #78
The event details you get once the event is triggered include the user object with details about the authenticated user:
https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin.html#L285

[2015-04-02 23:47] TheMallen commented on #78
That's not what I'm getting at. Here's the flow that occurs when I use the element:
1. I click the button
2. A popup appears asking which account I want to use
3. I click the account I want
4. The ui elements which I told to listen for the event fire twice
OR
5. The ui elements which I told to listen to the event fire once, but only when I first clicked the button, not once I selected an account
O

[2015-04-03 00:49] TheMallen commented on #78
It seems to me to that triggering 'google-signin-success' is counterintuitive for an 'authUserChange' handler. Shouldn't the user changing be it's own event from the perspective of listeners?

[2015-04-04 03:08] gattasrikanth commented on #77
On further checking, this seems like happening because the second account doesn't have a Google+ profile created? Although I am seeing a Blue color buttons which means "scopes that are not related to Google+" from release notes. In the networks tab of chrome i see the scope parameters as "scope:openid profile email http://my_scoce/...". I have only mentioned the url, but somehow it is adding "open

[2015-04-04 20:57] ebidel commented on #77
@Zoramite @gguuss are you guys aware of API issues?

[2015-04-06 18:57] Zoramite commented on #77
Those scopes shouldn't have any requirements for G+ and they would show the upgrade flow if they did. I'll test it out and see if I can find out what is happening.

[2015-04-06 19:10] Zoramite commented on #78
Thanks for bringing this up @TheMallen. The idea was to call the event any time there is a change to the user, but you are correct, that probably isn't the expected behavior for a success event.

I will change it to only send the `google-signin-success` to only trigger when a signed in user is found the first time with all the required permissions granted.

[2015-04-06 21:53] TheMallen commented on #78
Sounds like a good idea :)

[2015-04-13 17:28] gattasrikanth commented on #77
Any update? or need any other info to repro?

[2015-04-13 17:57] Zoramite commented on #77
@gattasrikanth We are looking into things and I'll let you know when we have an update.

[2015-04-13 18:14] gattasrikanth commented on #77
Thanks for looking into.

[2015-04-15 15:48] matantsu opened #81 "returned user on `` event"
I added the element and attached an `eventListener`:
[code]

here is the JSON representation of `e.detail.user`:
[code]

what are the `El` `UT` `B` `B.G` , `B.ha` `B.B` fields ?
Is it a problem with the library ?

[2015-04-15 15:59] Zoramite commented on #81
Hi @matantsu

The user is an instance of the [`gapi.auth2.GoogleUser`](https://developers.google.com/identity/sign-in/web/reference#gapiauth2googleuser) object. You can use the accessor functions to retrieve the specific information from the user object.

For example: `user.getId()` or `user.getBasicProfile().getName()`

[2015-04-15 15:59] #81 closed

[2015-04-15 16:54] matantsu commented on #81
thanks

[2015-04-19 04:38] prateekjadhwani opened #82 "Problems with Phonegap and Android"
I implemented the google-signin element in my custom element. It works fine on the browser, but fails to work in hybrid app build on phonegap. The error that I got is as follows

[code]

I am not sure why `auth` is undefined here, it seems as if the `gapi` library is not initializing. I could be wrong.

[2015-04-20 20:47] Zoramite commented on #82
Hi @prateekjadhwani it looks like it received an invalid value for the `cookiePolicy`. Are you using a custom value to the `cookiePolicy`?

[2015-04-20 21:16] prateekjadhwani commented on #82
As far as I know, I am not changing anything to `cookiePolicy` at all.

[code]

This is what I am adding to my file. So that code is not changing `cookiePolicy` at all. After some research I found that PhoneGap uses `localStorage` and/or `sessionStorage` to maintain/keep track of cookies.

Sources :
- http://stackoverflow.com/questions/15349237/handling-cookies-in-phonegap-cordova
- http://stackov

[2015-04-23 22:02] Zoramite commented on #82
You can try to add `cookiePolicy="none"` to see if that allows it to go through. There are only two options, the default single host origin and none. So if the single host is not working the `none` is the only other valid option.

[2015-04-24 05:59] Zoramite opened #86 "`offline` attribute support"
The older version of the web component had support for the `offline` attribute. Need to bring this back to the latest version. There was previously a bug that prevented it from working correctly. The bug should be fixed now. Need to test and add the logic back into the component.

[2015-04-25 13:17] davidcv5 commented on #86
@Zoramite are you going to include "Google Sign-In for server-side apps" or "OAuth 2.0 for Web Server Applications", or maybe both?

Asking because the one allows over the air installs, but the other doesn't.

https://developers.google.com/identity/sign-in/web/server-side-flow

Thanks!!!

[2015-04-25 22:17] prateekjadhwani commented on #82
Nope, doesn't work. It still breaks.

[2015-04-27 15:10] Zoramite commented on #82
Hmm.. sorry, It sounds like they don't have normal cookie usage. Currently we don't have any plans to support the alternatives that PhoneGap currently support. Going to close this issue for now. If PhoneGap gets support for cookies and it still doesn't work then we can look at it more.

[2015-04-27 15:10] #82 closed

[2015-04-28 09:40] #78 closed

[2015-04-29 10:12] prateekjadhwani commented on #82
No Worries. Thank you for your time.

[2015-04-30 20:05] Zoramite commented on #77
Hi @gattasrikanth can you try this again and see if it is still an error? A fixed was pushed out today and from my testing it appears to work, but if you could verify then we can close this issue.

[2015-04-30 21:04] gattasrikanth commented on #77
FIXED!!! Thanks for the fix.

[2015-05-05 11:05] jmorille commented on #86
Any news about the support of the offline token ?

[2015-05-05 19:50] davidcv5 commented on #86
@jmorille I forked this repo and added that offline capability.. in case you're interested..you can see it here https://github.com/davidcv5/google-signin
At least until they release the official one... I PR it but they told me it was coming soon so didn't accept it. But could save you sometime until then... good luck!

[2015-05-05 21:42] #77 closed

[2015-05-05 22:10] Zoramite commented on #86
Thanks for the bump on this. I've finished this up and made PR #89 for the changes.

[2015-05-05 22:34] davidcv5 commented on #86
Awesome! Thanks a lot @Zoramite

[2015-05-29 18:52] losttime opened #91 "Not getting user info on signin"
I'm using the element with Polymer 1.0. When a user signs in, I'm getting the signin success event, but not getting the user data.

I've followed the stack trace and it looks like the data is coming into the site, but not percolating up to my app.

The `google-signin-aware` element fires a `google-signin-aware-success` event that includes the user data, but the `google-signin` element doesn't catc

[2015-06-01 16:39] baole opened #93 "Uncaught TypeError: Cannot read property 'currentUser' of null"
I use this component with Polymer/Polymer Web Starter Kit as follow

In elements.html
<link rel="import" href="../bower_components/google-signin/google-signin.html">
<link rel="import" href="../bower_components/google-signin/google-signin-aware.html">

In index.html
<google-signin clientId="xxxxx.apps.googleusercontent.com" scopes="profile"></google-signin>

When run with gulp command, and click o

[2015-06-02 02:15] moneal commented on #93
I'm having the same problem.

[2015-06-02 02:50] moneal commented on #93
Looks like the documentation is wrong in a lot of spots or the code has the wrong parameter name. Changing `clientId` to `client-id` worked for me. Total call now looks like `<google-signin client-id="..." scopes="https://www.googleapis.com/auth/drive"></google-signin>`

[2015-06-02 15:20] baole commented on #93
Thanks Moneal. Change to client-id works great for me.

[2015-06-04 05:11] atotic commented on #93
Documentation was out of date, and the error thrown was not helpful. Fixing.

[2015-06-04 05:40] atotic commented on #91
you should listen to google-signin-aware. We've revamped google-signin element for 1.0, and docs did not get updated.

[2015-06-04 05:40] #91 closed

[2015-06-04 05:47] atotic commented on #86
@davidcv5 @jmorille We've just released 1.0 version of google-signin, and I did the port. Architecture is slightly different from 0.5 version. Offline support sounds like a good feature to add. But I am a Polymer guy, not a Google auth guy. If you guys would like to walk me through what's needed, we can add it.

[2015-06-04 05:47] atotic commented on #71
New version released.

[2015-06-04 05:47] #71 closed

[2015-06-04 05:48] atotic commented on #66
Library rewritten, this should work. Reopen if not.

[2015-06-04 05:48] #66 closed

[2015-06-04 05:54] atotic commented on #19
new version released, clearing out old bugs

[2015-06-04 05:54] #19 closed

[2015-06-04 05:54] atotic commented on #73
Fixed in the latest release.

[2015-06-04 05:54] #73 closed

[2015-06-04 09:22] monwabisi opened #96 "Please change 'clientId' to 'client-id' in documentation"

[2015-06-04 10:26] #93 closed

[2015-06-04 10:32] addyosmani commented on #96
Have you checked master? I believe this should now be fixed.

[2015-06-04 11:15] monwabisi commented on #96
I can see that, thanks :)
now here please: http://googlewebcomponents.github.io/google-signin/components/google-signin/#google-signin

[2015-06-04 15:09] atotic commented on #96
it'll be in the next release.

[2015-06-04 15:09] #96 closed

[2015-06-05 18:39] vincentzhou2013 opened #97 "clientId doesn't work, but client-id does"
it's weird, if clientId is used ,   google-signin-aware.html throws 'Uncaught TypeError: Cannot read property 'currentUser' of null',
until I change it to client-id.

[2015-06-05 22:51] atotic commented on #97
Reported and fixed on #master

[2015-06-05 22:51] #97 closed

[2015-06-08 15:18] Scarygami opened #98 "[feature-request] declarative access to currentUser"
As opposed to waiting for the `google-signin-success` event or binding to `signedIn` and observing changes, and then getting the user information as `gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile()` it would be nice to have this information exposed as `currentUser` property that could be bound to instead of `signedIn`.

That would simplify creating a log-in UI that displays name/p

[2015-06-08 15:56] atotic commented on #98
We had that in original implementation, but decided to take it out. The reasoning was that we were replicating gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().

It might come back in one day, I am counting your vote :)

Note to self, a nice way to do it would be:
    basicProfile: {
        computed: 'getBasicProfile(signedIn)'
    }

[2015-06-08 16:12] ebidel commented on #98
I think we should provide this to uses. We ended up doing the exact same thing for the I/O web app. There's clearly a need for a computed property :)

[2015-06-08 17:41] Scarygami commented on #98
As for "replicating": Isn't the main purpose of this element to replicate the behaviour of the gapi.auth2 methods, hiding the complexity of the actual calls? ;)

[2015-06-08 18:37] ebidel commented on #98
+1. The whole point of these components is to smooth over API complexities.

[2015-06-08 22:13] tregoning commented on #93
just FYI it looks like https://elements.polymer-project.org/elements/google-signin (is still out of date)

[2015-06-09 12:37] Scarygami commented on #93
I assume they have an internal cycle for creating new releases of updated components and pushing them to the catalog.

Would be interesting to know how frequently this is done though, I'm waiting for some releases in other components as well :)

[2015-06-09 18:44] voxmatt commented on #65
@Zoramite did you ever figure this out? we also see the google api storing previous callbacks and calling them all with all previous results, not even using your component library but using the api directly

[2015-06-09 19:29] atotic commented on #65
google-signin has been extensively refactored for Polymer 1.0. It is not supporting offline right now, but it can if there is interest, and you guys come up with a design.

[2015-06-10 22:42] svachalek opened #99 "Disabling third party cookies causes silent failure"
This is possibly/probably an issue with the underlying API but if third party cookies are disabled (Chrome Settings -> Privacy -> Content Settings -> Cookies -> Block third-party cookies and site data) the sign-in button will open and close the login window and a message will appear in the console stating that access to sessionStorage has been blocked.

A workaround is possible by adding "accounts

[2015-06-11 00:31] atotic commented on #99
Good one. It looks like we can't detect the failure, and oauth2 library gives no indication of failure.
Looks like there is an exception they could trap:

Uncaught SecurityError: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document.

@ebidel anyone on oauth2 team we could bug about this?

[2015-06-17 02:59] ebidel opened #100 "Docs mention missing google-signin-failure event"

[2015-06-18 21:49] atotic commented on #100
Removed mention of the event.

[2015-06-18 21:49] #100 closed

[2015-06-18 23:25] atotic commented on #98
Do we want to expose any additional information, such as getBasicInfo() if available?

[2015-06-19 09:03] Scarygami commented on #98
I think just having the user information available (without having to call any extra methods) would be best. The `BasicProfile` object you get is a bit strange in JS terms, since you have to use get-Methods to get the actual values, a behavior that I would hide for the computed property to allow direct data binding, something like:

    _computeUser: function (signedIn) {
      if (!signedIn) { re

[2015-06-25 16:59] jarrodek opened #101 "400 error using google-signin and (probably) ss_domain parameter"
Hi,

I'm trying to implement google-signin button to my website. I did everything according to docs and it isn't working.
When I click on sign in button popup is opening but with 400 error. The same thing happening when I run demo app from component's directory.

I noticed that the popup's URL have "ss_domain" parameter. It's not documented so I don't know what it suppose to do. However when I rem

[2015-06-25 22:24] Scarygami commented on #101
Usually the popup contains more detailed error information, e.g. something like `Error: redirect_uri_mismatch`

Could you copy/paste the complete error information here including the "Request Details"?

[2015-06-27 05:33] yaraju opened #102 "Auth error with Chrome extension: Invalid Cookie Policy"
When using google-sign-in on Chrome extension, loading the page directly like so:

[code]

With the following tag in my custom element:
[code]
I get the following error::

**Error:**
*Uncaught gapi.auth2.ExternallyVisibleError: Invalid cookiePolicy*
[code]

[2015-06-27 05:36] yaraju commented on #102
Subsequently a red icon with no "g" shows up. On Clicking the red button, I get the following error:

[code]

[2015-06-27 12:30] ebidel commented on #102
My suspicion is that this is an issue with the Google Signin API not working from `chrome-extension://` origin. cc @Zoramite

[2015-06-27 21:33] Scarygami commented on #102
Yes, `gapi` generally doesn't get along well with Chrome extensions, see for example: https://github.com/google/google-api-javascript-client/issues/64

The preferred way for authentication inside of Chrome extensions is the [Chrome Identity API](https://developer.chrome.com/apps/identity) which would probably be out-of-scope for this element.

[2015-06-28 04:39] yaraju commented on #102
Hmm. I suppose an alternative would be to somehow proxy these calls through the background script, so that the element just gets the status.

But this would probably fall within the scope of a separate set of extensions that work on Chrome Apps/Extensions, and not within the core GoogleWebComponents? Is there a more appropriate place where I can put in or track a request for such a set of componen

[2015-06-28 11:37] addyosmani commented on #102
I think the Chrome Identity API wouldn't be the best fit here - agree on it being out of scope. The element should focus on the 90% use-case. We could (potentially) document some of the workarounds needed if operating in an extensions world, but imo my take is we should avoid baking in workarounds here into the element itself.

[2015-07-06 03:21] mhahn opened #103 "Sign out doesn't sign the user out of google apps"
This seems to be an issue with "auth2", but this library is the best place I can find to bring up the issue.

if you go to the demo you have here: https://googlewebcomponents.github.io/google-signin/components/google-signin/ in an incognito window, sign in once, and then sign out. the next time you sign in, the pop up will display briefly, but log you in as whatever previous user you logged in as.

[2015-07-10 17:43] nickcarenza commented on #82
Having a similar issue with electron.

[2015-07-17 18:43] atotic commented on #103
I see your point. Signout should undo effects of signin
 - if you were signed in to Google before signin, signout revokes app access, but keeps Google signin
- if you were not signed in to Google, signout signs out completely
This question is better answered by someone working on oauth2.
@ebidel any suggestions on who can elaborate on what the right thing to do here is?

[2015-07-20 14:11] ebidel commented on #103
cc @Zoramite

[2015-07-20 18:24] Zoramite commented on #103
I've opened a discussion more about this internally. This is working as intended for now.

Trying to undo the effects of signin would be a pretty hairy situations since the app is not always being used in isolation. Ex: you may start at abc.com and sign in there, but then continue on to use gmail or calendar. Then you sign out of abc and suddenly you have to re-login on gmail? That can be a very b

[2015-07-20 21:55] #103 closed

[2015-08-17 06:41] newfivefour opened #104 "Obtain the auth'd users email in when signed in?"
Once the user has logged in, and `on-google-signin-success` has been called, there's no way of  getting the email address of whoever has auth'd.

Even when you've given access to:

[code]

In `handleUserUpdate: function(newPrimaryUser)` in `google-signin-aware.html` the user's email is there, but under an obfuscated property in the newPrimaryUser property.

The [docs](https://elements.polymer-proj

[2015-08-17 07:24] atotic commented on #104
That means:
- listen to google-signin-success event
- inside your event handler, use gapi.auth2.getAuthInstance().currentUser.get()  to get current user

[2015-08-17 07:24] #104 closed

[2015-08-21 00:45] dulimarta opened #105 "google-signin-success event not fired on Chrome?"
<!DOCTYPE html>
    <html>
    <head>
      <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
      <link rel="import" href="../bower_components/polymer/polymer.html">
      <link rel="import" href="../bower_components/google-signin/google-signin.html">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
      <goo

[2015-08-21 05:18] atotic commented on #105
I've just tested it on Chrome and it works. The problem is your Chrome configuration. Google the error message, and you'll find suggestions on how to fix it. Ex:

http://stackoverflow.com/questions/24456891/iframe-in-chrome-error-uncaught-securityerror-failed-to-read-the-sessionstora

[2015-08-21 05:18] #105 closed

[2015-09-01 18:34] adefran83 opened #106 "New Google Logo"
The logo on the icons is the old Google logo, I assume this will be updated to match the new styling?

[2015-09-01 21:25] addyosmani commented on #106
@Zoramite do you know if there are plans to update the non-element version of this project to use the new logo? It's probably worth us aligning with the timelines on that for consistency.

[2015-09-11 16:56] Compufreak345 commented on #86
+1

[2015-09-12 21:19] DmT021 opened #107 "Use on the server side"
How do I use google-signin-aware with the server.
I have a SPA with a google-signin-aware. Also I have an api server.
I want to use sign in with google for authentification at my server.
I found, I can get access token in the handler of the google-signin-aware-success event.
I send it to the api server. Than on the server side I authorize with the access token on Google OAuth2 service and get user

[2015-09-16 18:41] Zoramite commented on #86
@atotic this was the original change that I was going to add it back in originally before the rewrite: https://github.com/GoogleWebComponents/google-signin/compare/api2.0-offline

[2015-09-16 18:47] Zoramite commented on #106
I will check with the team to see what the plans are, but definitely need to update it with the updated branding.

[2015-09-17 06:38] agektmr opened #108 "Doc is ambiguous if this is for Google Sign-In or Google+ Sign-In"
Apparently this is using Google Sign-In because it's calling `auth2` but the documentation mentions some portion of Google+ APIs. It's nice to clarify that this is using Google Sign-In and it only loads relevant scopes.

[2015-09-17 07:25] ebidel commented on #108
cc @addyosmani probably left over from the port. I know that if you request certain scopes (G+) it will actually use Google+ signin. Otherwise, the default is Google Sign in 2.0.

[2015-09-17 13:49] LM450N commented on #98
Some news about it? The `_computeUser` method proposed by @Scarygami could be "enough"?

[2015-09-17 20:06] rileylark opened #109 "gapi.auth.getToken() returns null after unsuccessful auth, even if we had a previous successful auth"
My app practices incremental permissions, so first we ask you for X, and then if we need Y later we ask you for Y later.

But, if you deny us Y, the gapi client loses the token for X.

We could save the previous token and manually restore it on auth failure, but then of course we get race conditions. I'd like an easy way to aggregate permissions in the client token, so I could call

[code]

and be

[2015-09-17 20:08] rileylark commented on #109
To clarify a bit, I do know about `include_granted_scopes` and that behavior is working great. But the problem I'm facing is that if the user has NOT granted the scope for Y in my example, and the authorization attempt fails, then I lose my token altogether! Because Y returns a rejection, the client forgets all about the fact that it actually has access to X and Z.

[2015-09-17 20:46] yesthatguy commented on #86
Thanks all! @atotic I'm not a super expert in the Google signin flow but know a bit and would love to use the offline support in polymer, so if there's anything I can do to help let me know.

[2015-09-28 05:42] shauvik opened #111 "No way to detect programmatically if signin was unsuccessful."
The google-signin-aware generates events for successful signin and signout events. However, there is no way to tell if a signin attempt was not successful.

I am working on a single-page application with the google-signin component.
Case 1. (User already logged in) : Whenever the user is already signed in, I see a signin button for a small time, followed by the signout button.
Case 2. (User not lo

[2015-09-28 13:06] zoechi opened #112 "Referenced `gapi` doesn't exist"
https://github.com/GoogleWebComponents/google-signin/blob/master/demo/index.html#L129 and lines 141, 145 refer `gapi` but I can't see how this variable declared or initialized.

In https://github.com/GoogleWebComponents/google-signin/blob/master/demo/index.html#L140 `b` is declared but never used.

The selector in lin 140 seems a bit brittle when there are so many `<google-signin> tags in HTML.

I

[2015-09-28 13:12] Scarygami commented on #112
gapi is loaded as the google-js-api here: https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin-aware.html#L145

[2015-09-28 13:19] zoechi commented on #112
Thanks, than it's my limited JS knowledge.
So it somehow becomes a global variable?
If you think there is still work to do you can reopen. I think I know what I have to do in the Dart port.
Thanks again :)

[2015-09-28 13:19] #112 closed

[2015-09-28 13:21] Scarygami commented on #112
Yes `gapi` becomes a global variable when the Google JS client library is loaded.

When porting the element to Dart you can try to depend on the [`googleapis_auth`](https://github.com/dart-lang/googleapis_auth) package which also uses `gapi` in the background.
It still uses the old `gapi.auth` methods instead of `gapi.auth2` though, so calls would be quite different.

[2015-09-28 13:24] zoechi commented on #112
Ok, I guess I try dart-js-interop first.

[2015-09-28 16:54] atotic commented on #111
I see what the problem is:
- we initialize `signin-aware.isAuthorized` to false
- signinAware only fires success/signed-out events if it's `isAuthorized` status has changed
- on startup, when gapi gets initialized and user is not signed in, `_updateScopeStatus(false)` gets called, but `isAuthorized` is already false, so no events are fired.

Possible fixes are:
a) not initialize `isAuthorized` fla

[2015-09-28 19:35] shauvik commented on #111
Thanks @atotic

Is there a smart way to check for auth2 being loaded instead of polling using setTimeout ?

[2015-09-28 19:43] atotic commented on #111
auth2 is loaded in two stages:
1) gapi: You can wait for gapi loading with <google-js-api>
2) then auth2 by gapi.load(), gets notified of load via callback.

you can wait for 1 via events, then busyWait for auth2. That'd mostly avoid the busywait when auth2 is offline.

[2015-10-04 09:15] satoshun00 opened #114 "Old scopes are requested on signIn.(not reset)"
To reproduce this on demo,
1. Sign in with set scope param to `None`
2. Change scope to `Google Plus view circles` (not go sign in)
3. Change scope to `None` and go sign in

-> App has request `Google Plus view circles`.

Is this correct behavior??

[2015-10-05 03:19] atotic commented on #114
We've judged that scope removal is an unusual case that will not be handled. The way most apps operate is that their scope expands, not contract.
Scope removal complexity includes:
- keeping tally of how many times each scope was registered.
- what happens if granted scope gets unregistered? Should be reset our authorization?
- if google-signin-aware elements are attached/detached dynamically, sco

[2015-10-05 03:19] #114 closed

[2015-10-06 19:28] atotic commented on #86
Implemeneted in 2d6131495c3977d6d1cc863847b6713b39f82be2

[2015-10-06 19:28] #86 closed

[2015-10-06 19:28] atotic commented on #107
Polymer does not run on the server. Use the auth2 library directly.

[2015-10-06 19:28] #107 closed

[2015-10-06 19:30] atotic commented on #108
Can you be more explicit about where the ambiguity is? I've looked at the docs, and they explain G+ use cases.

[2015-10-14 21:56] JeffPinkston commented on #102
I'm getting the exact same errors during build and onClick() when I run my Polymer project on my device using Cordova. Is that related? The code works as expected when I run locally on my desktop.

[2015-10-14 23:47] Miguel222tm commented on #82
hello guys, did you find any solutions for othis issue?

[2015-10-15 04:12] atotic commented on #82
My guess: Since phonegap website on a phone is served statically from arbitrary `file://` urls, the website-style oauth2 would not work because of origin restrictions.

You might have success if you treat your site as an installed app instead. Looks like that involves using a different clientID:
https://developers.google.com/identity/protocols/OAuth2InstalledApp

[2015-10-15 04:17] atotic commented on #102
Could you use oauth2 the way it is intended for installed applications in this use case?

https://developers.google.com/identity/protocols/OAuth2InstalledApp

That would be a nice addition to google-signin, it is not an uncommon request, and we could hide the differences under the hood.

[2015-10-29 16:18] geoffdavis92 opened #116 "gapi or auth2 inconsistently fail loading"
#### Issue: `gapi` and `auth2` fail loading inconsistently
Sometimes it's `gapi` that fails, other times I will refresh the page and find out that `auth2` failed.

Occasionally, I will refresh my page and the sign-in functionality works as intended. I thought the issue may be async loading of `gapi`/`auth2`, so I tried wrapping my Polymer-calling code in a `$(document.ready({...})` function, but t

[2015-10-29 17:17] atotic commented on #116
Can't help you with this without a reproducible case. Can you provide an example? What kind of errors are you seeing? Are libraries failing to load because of a network error?

[2015-10-29 18:03] geoffdavis92 commented on #116
@atotic Unfortunately I can't link you to my project, since it's using private data, but here are some screen shots:
![jsloaded](https://cloud.githubusercontent.com/assets/7330124/10827491/5a442be8-7e3d-11e5-8e20-92b9ba29f12f.png)
![gapierror](https://cloud.githubusercontent.com/assets/7330124/10827494/5a48eb1a-7e3d-11e5-8df9-66c8f8f080a0.png)
![auth2error](https://cloud.githubusercontent.com/asse

[2015-10-29 18:11] atotic commented on #116
What's the stack trace of your error?
There is something specific to your setup causing this. I assume you've tried the demo pages in google-signin, and that they work.
Debugging it is about figuring out what exactly is failing, and then what's the cause.
Libraries are not loaded. It ;ooks like they are from the network. lines 310 is outside of any function. Are you using latest release? Set some

[2015-11-09 18:31] #116 closed

[2015-11-09 18:32] #108 closed

[2015-11-09 18:32] #111 closed

[2015-11-09 18:35] #101 closed

[2015-11-15 16:47] David-Mulder opened #117 "Silently fails in Edge"
Neither the demo page or the element itself seems to work in Edge. Not seeing any errors either. And third party cookies are *not* blocked.

[2015-11-15 21:34] atotic commented on #117
In what way does it fail? I've tried the demo on Edge, and it pops up the confirmation dialog.

I was unable verify it all the way, because I run elements on my Mac, and Edge inside a VM, and oauth does not want to authenticate to anything but a localhost:8080. Are you sure you are not running in the oauth/hostname problems?

[2015-11-15 22:20] David-Mulder commented on #117
@atotic The demo page running on https://elements.polymer-project.org/elements/google-signin?view=demo:demo/index.html&active=google-signin actually authenticates just fine from the oauth point of view. In Edge however after you log in in the dialog it won't change the state of the element (it will keep on showing the button in blue rather than gray and clicking it again will give you a short flas

[2015-11-16 05:04] atotic commented on #117
Confirmed on my windows box. I suspect an error in oauth2 library.
We call promise = gapi.auth2.getAuthInstance().signIn(params);
and the promise never resolves: neither success nor fail callbacks get called.

@addyosmani can you assign this to someone who can debug oauth2?

[2015-11-16 22:37] ebidel commented on #117
@gguuss is this related to the known  Edge bug?

[2015-11-23 17:04] gguuss commented on #117
This might be, we pushed a fix on Friday to work around the IE11/Edge localstorage bug, this may have fixed it.

[2015-11-23 17:21] atotic commented on #117
Bingo! Tested, and it works.

[2015-11-23 17:21] #117 closed

[2015-11-23 19:58] ebidel commented on #117
Love it when API fixes close our bugs :)

[2015-11-25 22:58] tekkamanendless opened #118 "[feature-request] Access to the "disconnect" functionality"
I saw in the example this little snippet:

    var currentUser = gapi.auth2.getAuthInstance().currentUser.get();
    if (currentUser) {
       currentUser.disconnect();
    }

Long story short, I'd like a "disconnect" method (similar to "signOut").

I have an application where (obviously) people need to log in.  So, I used "google-signin-aware" to provide some nice log in and log out buttons, pull

[2016-01-14 19:30] Compufreak345 opened #119 "Dynamically changing scopes leads to old scopes being still active"
I am trying to set the scopes by checkboxes, so my code looks like this :

[code]
[code]

It works when I am checking the boxes initially, but it is always keeping the scopes that where checked once, because of line 678 in google-signin-aware.html adding new scopes but not removing old ones :
[code]

I am not into AuthEngine so I don't know if there is any method for resetting the scopes, but I th

[2016-01-14 22:31] atotic commented on #119
There is no way to do it. This was a conscious design decision. Google's signin library `gapi.auth2` only supports revoking all scopes, and no partials. So our architecture does not support dropping scopes:
- `<google-signin>` keeps a global registry of requested scopes, and does not keep count of how many times scope has been registered.
- when signinAware drops a scope, we can't remove it, becau

[2016-01-15 10:58] Compufreak345 commented on #119
Thanks for the response, but if this is the case I have another problem that might be caused by this behavior :
Even if I leave the scopes-property empty it requests the scopes openid, profile and email and I am not able to do something against it - what can I do to prevent this behavior?

[2016-01-15 15:06] atotic commented on #119
Again, that is gapi.auth2 behavior.

[2016-01-15 15:52] Compufreak345 opened #120 "Allow access to fetch_basic_profile - option of gapi.auth2.init()"
It would be really nice if there would be a property so I could set fetch_basic_profile to false as documented in https://developers.google.com/identity/sign-in/web/people .

I do not want to irritate my users with requesting access to their profile information when I only need access to their calendar.

[2016-01-15 15:54] Compufreak345 commented on #119
Thanks for the explanation - as this behavior is optional I made #120 - it would be great if this option could be added.

[2016-01-15 17:17] atotic commented on #120
Fair request. I'd add it as a doNotFetchBasicProfile property to google-signin-aware.

I am currently not working on this code. If you need it right now, send a patch.

Your users might not mind much, most websites just get the default. Nice that you are trying to protect their privacy.

[2016-02-01 09:57] filipproch opened #121 "Broadcast initilized event"
It's not always best for us to observe on signedIn, because you are setting it initially to false before it is really determined. In my application, I display loading screen which should wait to detect whether user is authenticated a then display screen accordingly, which is by observing `signedIn` not easy to handle. I suggest adding event which is emmited in `handleUserUpdate` if it is the first

[2016-02-09 01:14] fiws commented on #106
..sooo???

[2016-02-09 23:01] #106 closed

[2016-02-09 23:02] Zoramite commented on #106
@ebidel When you have time can you cut a new release with the updated branding?

[2016-02-18 14:37] LM450N opened #124 "Crash if we create dynamically a new google-signin button with a client ID"
The trouble happens when we're using declaratively a button then we try to create a new one and append it into the DOM using JavaScript.

**This is working**
[code]

**This is NOT working**
[code]
At this point I thought the cause was the `scopes` but it's the client ID.

**This is working**
[code]

The error message was something like _"gapi.auth2.ExternallyVisibleError: gapi.auth2 has been initi

[2016-02-21 13:57] Compufreak345 opened #125 "Revoking token does not clear AuthEngine-cache?"
It seems like that after revoking an access-token via API or Account-Settings the AuthEngine does not register all tokens as revoked and does not request them again. Steps to reproduce :

1) Click on this button :
`
            <google-signin id="googleSigninTest" id="signIn" client-id="your-id" scopes="https://www.googleapis.com/auth/contacts.readonly"></google-signin>
`

2) Goto https://security

[2016-02-24 06:36] nodirt opened #128 "proxy prompt parameter for GoogleAuth.signIn"
`google-signin-aware` indirectly calls [GoogleAuth.signIn](https://developers.google.com/identity/sign-in/web/reference#googleauthsigninwzxhzdk72optionswzxhzdk73) function. The function has `prompt` parameter, but `google-signin-aware` does not pass it, and there is no way to specify its value.

I'm ok implementing it, but wanted to discuss the design first:
- add `prompt` property to `AuthEngine`

[2016-02-24 17:28] nodirt opened #129 "Consent screen asks for Offline access"
During sign in, the consent screen asks for offline access:

![image](https://cloud.githubusercontent.com/assets/643254/13294419/b73537e6-dad8-11e5-8344-37a117e583d3.png)

If I replace my client id with the one used in your demo, it asks for proper permissions:

![image](https://cloud.githubusercontent.com/assets/643254/13294433/c4d9f350-dad8-11e5-9173-2ca978eb3bd1.png)

How did you create your cl

[2016-02-24 17:30] nodirt commented on #129
If I replace the client id in your demo with my client id, it asks for offline access

[2016-02-24 17:49] atotic commented on #128
I have no idea what prompt does, but your design sounds sensible, follows the existing pattern.

[2016-02-24 18:00] nodirt commented on #128
prompt allows the user to customize the workflow:

from the [spec](https://openid.net/specs/openid-connect-basic-1_0.html#RequestParameters):
[code]

More context: I have two google accounts. If I sign in once, it remembers the account I used and never asks me again even if I sign out and try to sign in again. I will specify `prompt="select_account"` to fix that

[2016-02-24 20:59] atotic commented on #128
Sounds useful.

[2016-03-01 01:19] azakus opened #131 "Typo on google-signin-aware doc page"
_From @hernanhiguera on February 27, 2016 20:37_

Just want to note that the docs page for the google-signin-aware element has a typo in the closing template tag and may lend itself for confusion to some people.

cheers!

The link to the page only seems to work if I copy/paste into a tab.
https://elements.polymer-project.org/elements/google-signin?active=google-signin-aware

_Copied from original

[2016-03-01 01:19] azakus commented on #131
Thanks, this looks like it should go instead on the [google-signin element](https://github.com/GoogleWebComponents/google-signin)

I'm going to clean up this issue and move it over there.

[2016-03-01 22:38] #131 closed

[2016-03-05 19:05] AdamZiegler opened #132 "iron-flex-layout-classes"
Line 8 of google-signin.html is using the old iron-flex method and is throwing errors:
`<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">`

Should be:
`<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">`
or
`<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">`

[2016-03-07 18:46] arthurevans commented on #132
:+1: We should also replace the current link`<rel="import" type="css">` with a style module.

[2016-03-07 19:15] ebidel commented on #132
@addyosmani can you look at this?

[2016-03-21 16:24] #128 closed

[2016-03-22 20:40] jeffposnick opened #133 "Unescaped </script> in JS comment leads to breakage"
The escaping that was undone in https://github.com/GoogleWebComponents/google-signin/commit/89353ae016ff008a1b053fe6d1b6e51507a16ae4 is actually needed, and the current `master` version of `google-signin-aware.html` has a syntax error.

The unescapted `</script>` tag in the JavaScript comment ends up being interpreted as closing the top-level `<script>`.

![image](https://cloud.githubusercontent.c

[2016-03-22 20:54] ebidel commented on #133
This is what code reviewers are for :(

[2016-03-22 21:19] Zoramite commented on #133
Rolled back in 46b97c9. Sorry for the trouble.

[2016-03-22 21:19] #133 closed

[2016-03-22 23:39] #132 closed

[2016-03-24 01:11] nodirt opened #137 "Add init event"
There is no event in google-signin/google-singin-aware that is fired when auth instance is initialized. It makes really hard to use these elements in a static SPA.

I'd like to send iron-ajax requests to load actual page contents either (a) anonymously when the user is not signed in or (b) authenticated if the user is signed in. However, there is no way to tell whether google-signin* element is si

[2016-03-27 02:11] curtiscovington opened #138 "gapi.auth2.ExternallyVisibleError"
I can't see to get google-signin-aware to work properly. If it appears right under my google-signin element it works fine, but if it is in another element, like the google-sheets element, or my custom elements, I get the gapi.auth2 error.

`cb=gapi.loaded_0:64 Uncaught gapi.auth2.ExternallyVisibleError: gapi.auth2 has been initialized with different options. Consider calling gapi.auth2.getAuthInst

[2016-03-27 04:57] atotic commented on #138
I suspect that your usage causes the error. Can you create a reproducible case we can look at?

[2016-03-30 14:47] LM450N commented on #138
I already got the same error. In my case I was using two `google-signin` elements at two different places in my app but only the first one was defining the client ID. After have set the same client ID on both elements everything worked well.

I guess the reason is you have multiple instances of `google-signin-aware` in your app and one of them is not [initialized](https://github.com/GoogleWebCompo

[2016-03-30 16:58] atotic commented on #138
Found the cause. Setting the clientId always calls initAuth. I'll fix it.

[2016-03-30 17:08] #138 closed

[2016-03-30 17:09] atotic commented on #124
Fixed.

[2016-03-30 17:09] #124 closed

[2016-03-30 18:14] LM450N commented on #138
Thank you for this fix !

[2016-03-30 18:46] LM450N opened #139 "Fires google-signed-out event when the element is initialized"
I use the `google-signin` twice in my app. On the login page to allow users to connect and in the app header to allow them to log out. When a user just logged in, the second button is displayed (attached to the DOM in fact) and it fires the `google-signed-out` event.

I did a workaround to fix this quickly on my side but it **does not work on Firefox** because I have used the `event.target` and it

[2016-03-31 00:04] LM450N opened #141 "The documentation has some mistakes"
During my last contribution I seen few mistakes in the documentation.

* default value of [brand](https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin.html#L239)
* default value of [cookiePolicy](https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin.html#L267)
* bad type on [height](https://github.com/GoogleWebComponents/google-signin/blob/master/

[2016-03-31 06:04] atotic commented on #139
I do not have the bandwidth to understand exactly what's going on, but I think this should be looked at.

[2016-04-01 16:18] geoffdavis92 commented on #105
@atotic I am getting this error when loading my app from my saved home screen link on iOS:

`TypeError: null is not an object (evaluating 'this.$.getItem')`

Stack trace: ![Issue stack trace](http://i.imgur.com/VkCUKDs.png)

When I actually attempt to sign in, I get a blank screen and the following error message:

`TypeError: null is not an object (evaluating 'this.c.setItem')`

Stack trace: ![sig

[2016-04-01 17:52] atotic commented on #105
I can't tell what went wrong. File a separate bug with a reproducible case if you can.

[2016-04-06 18:55] geoffdavis92 opened #142 "Throwing errors when app is saved to and accessed from iOS Home screen"
I am using `google-signin` in my app to check for credentials of the user, then allow/deny access to the main content. I am testing my app in several instances, and I saved my app to my iOS home screen using Safari.

When I am testing on desktop/mobile browser and hit the signin element, the browser opens a Google dialogue, which either auto-logs in or allows users to manually sign in, then closes

[2016-04-06 22:10] ktiedt opened #143 "documentation is inconsistent about which element to use or not."
In google-signin element you state:

And in google-signin-aware you state:

The former seems to imply a signin element is not needed, the latter implies it is required... Which begs the question, is the only purpose of signin-aware to notify you of states of specific scopes?

[2016-04-11 17:50] atotic commented on #142
It looks like an issue with google auth2 library. google-signin element does not directly use sessionStorage.
If you'd like to pursue this bug, you should file a bug with a reproducible case to the google auth2 library team.

[2016-04-11 17:52] atotic commented on #141
I think defaults are correct. These are actually the auth2 library defaults.

[2016-04-11 17:52] #141 closed

[2016-04-11 17:59] atotic commented on #143
google-signin docs are correct. google-signin-aware docs did not get updated when code was rewritten. Pull requests welcome :)

[2016-04-11 20:01] ktiedt commented on #143
The demo also seems to be in line with the google-signin-aware docs, if I understood what actually was expected, I would be happy to update things, but at this level of confusion, w/zero knowledge of the elements, updating documentation would probably be the least helpful thing I could do right now.

[2016-04-11 20:27] Zoramite commented on #143
Hi @ktiedt I'll take a stab at updating the documentation. Sorry that it isn't very clear.

The idea is that there is at least one signin button on the page using the `google-signin` element. Other components can bind to the signin events and add their own additional scopes through the `google-signin-aware` element. From there the signin button reacts to the scopes to request the correct permissio

[2016-04-11 20:35] atotic commented on #143
`google-signin` is only required for UI. If developer does not want to use our UI, they can use `signin-aware` to interact with oauth API.

[2016-04-11 20:58] Zoramite commented on #143
That is true, developers can also manually trigger the signin. I'll be sure to mention that.

[2016-04-11 21:01] ktiedt commented on #143
Ahh, so signin-aware is actually the brains, the -aware makes it sound more like a secondary element. Sorting that out in my head makes things a lot more clear

[2016-04-11 21:07] Zoramite commented on #143
Yeah, if you look at the `google-signin` component it actually just calls the signin on the aware element:

https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin.html#L536

[2016-04-11 21:38] atotic commented on #143
`google-signin` got rewritten. In the initial version, google-signin was the brains, and aware was something else. Hence the confusion. Today, google-signin is just a UI on top of signin-aware.

[2016-04-23 14:38] LM450N commented on #139
[This article](https://github.com/kbenjamin/polymer-issues#observers-fire-on-transition-from-undefined-to-an-initial-value) explains the issue I encountered and why I check the `oldVal` in the proposed pull request.

[2016-04-30 00:02] ktiedt opened #144 "google-signing needAdditionalAuth does not notify"
google-signin reflects all properties from google-signin-aware but it fails to notify this one which causes issues when you are not using the -aware component directly (and forces you to deep dive into the element to get the value).

[2016-05-02 04:59] #144 closed

[2016-05-13 20:28] jmsgomes opened #146 "<google-signin> fails to compile when using Closure"
I'd like to use `<google-signin>` in a Closure-based app. The JsCompiler reports a couple of issues that should be straightforward enough to fix:

*   `ERROR - Bad type annotation. type not recognized due to syntax error` caused by `@param {<google-signin-aware>}`
*   `ERROR - Parse error. invalid param name "detail.code"`
*   `ERROR - Redeclared variable: error`
*   `ERROR - Property currentUser

[2016-05-25 21:58] LM450N commented on #98
The [feature shown at the Google I/O](https://www.youtube.com/watch?v=__KvYxcIIm8&feature=youtu.be&t=22m52s) will be available soon or is still to be implemented ?

[2016-05-26 01:47] ebidel commented on #98
Which feature? We didn't use anything new for sign in this year.

On Wed, May 25, 2016, 11:58 AM Mason Louchart <notifications@github.com>
wrote:

[2016-05-26 03:57] atotic commented on #98
The `<google-signin>` in the video has a `user` property. That's what this feature request is all about.

[2016-06-07 22:45] #146 closed

[2016-06-10 21:33] rictic opened #149 "Licensing appears inconsistent"
The [License](https://github.com/GoogleWebComponents/google-signin/blob/master/LICENSE) file says Apache but the top of [google-icons.html](https://github.com/GoogleWebComponents/google-signin/blob/master/google-icons.html) is the standard Polymer BSD. Both are reasonable licenses but I believe we need something consistent here.

[2016-06-10 21:51] #149 closed

[2016-07-02 10:56] fernandezpaco commented on #60
Same problem here, when you pack the signin component in a cordova app, the auth process happens in the same window and at the end the script tries to close the current window and fails.

I have this very basic example but you need to pack it with a cordova app: http://dynamicforms.paperplane.io/

It works fine in the browser but it fails at the end of the auth process when the script tries to clo

[2016-07-02 11:03] fernandezpaco commented on #60
Basically the problem is described here:
http://phonegap-tips.com/articles/google-api-oauth-with-phonegaps-inappbrowser.html

The component supports signin for web apps but when packed as app it is not working because it should use a different mechanism (OAuth 2.0 for installed applications).

It would be awesome if the component supports both behaviors.

Thanks

[2016-09-15 07:35] sonnythehottest commented on #105
@atotic hi, shouldn't we still be able to handle sign in, though the setting `block third party cookies...` is checked?

[2016-09-15 15:43] atotic commented on #105
I do not think so, but I am not the expert.

[2016-09-15 19:31] danjacques opened #152 ""on-google-signin-aware-" events don't fire when opened in background."
The [code that ultimately results in the events being fired](https://github.com/GoogleWebComponents/google-signin/blob/b060161a877553f8a96854752b6ed4c814f29355/google-signin-aware.html#L278) iterates through the `signinAwares` list, which is the list of `<google-auth-signin-aware>` elements that have been attached at that point.

I encountered an issue with this element when opening a page in the

[2016-10-04 20:24] AlexanderSeto commented on #142
I'm experiencing the same issue. I've tried it with a single view application with only a WebView and this code in my viewDidLoad() function:
`let url = URL (string: "https://example.com");
        webView.scrollView.delegate = self
        let requestObj = URLRequest(url: url!);
        webView.loadRequest(requestObj);
`

<img width="1000" alt="screen shot 2016-10-04 at 10 23 34 pm" src="https://

[2016-10-12 17:19] geoffdavis92 commented on #142
@AlexanderSeto Is this for iOS as well? On Safari? I'm about to open an issue on the gAPI javascript page and want to be accurate.

[2016-12-07 16:47] Skehmatics opened #155 "google-signin-aware doesn't update when page is refreshed."
polymer 1.6.0 and google-signin 1.3.7

[2016-12-20 05:29] agektmr opened #156 "[Major change proposal] Decoupling `google-signin` and `google-signin-aware`"
Hi,

I use Google Sign-In in [my implementation of Polymer shop](https://github.com/agektmr/shop/tree/credential-payment) which I'm requesting [a pull](https://github.com/Polymer/shop/pull/104). Though I was suggested to use this `google-signin` component, I'm reluctant to do so for some reasons:

1. `google-signin` contains both view and logic (`google-signin-aware`). While I agree it's intuitive

[2016-12-20 07:28] agektmr commented on #156
This is a proof of concept implementation: https://github.com/agektmr/google-signin/tree/v2

[2016-12-20 17:33] blasten commented on #156
cc @ebidel

[2016-12-20 18:28] ebidel commented on #156
@addyosmani @Zoramite are the maintainers.

[2016-12-21 14:42] esd100 commented on #139
yeah, I'm finding this pretty annoying.

[2017-01-12 10:32] FluorescentHallucinogen commented on #156
Any progress?

[2017-01-12 16:50] Zoramite commented on #156
The idea behind allowing multiple `google-signin-aware` elements in a single page is to allow a separation of concern between different components. If you are writing a component that requires a specific scope you can just add the scope using the `google-signin-aware` component and not worry about the UI.

The `google-signin-aware` doesn't care about when or how many sign in buttons are on the pag

[2017-01-12 16:57] Zoramite commented on #156
I just finished looking through the changes that you were using as your concept. There are some changes that we'll probably make later when we do the next version. I may have a project coming up soon that I can work on updating the signin components at the same time.

[2017-01-13 07:00] FluorescentHallucinogen commented on #156
@Zoramite, is there any ETA of next version?

[2017-01-13 17:24] Zoramite commented on #156
@FluorescentHallucinogen I don't have an ETA currently.

[2017-01-16 06:42] agektmr commented on #156
@Zoramite sounds good. Let me know if there's anything I can be help of.

[2017-01-16 15:02] soonick commented on #121
Hello @atotic, @Zoramite,

I just started trying to use this component and found myself having the same problem as @filipproch. I see that there has been a pull request that can solve the issue for a couple months but no comments have been made on it. Do you think you can help us look at the pull request and let us know how to proceed?

[2017-01-17 08:26] atotic commented on #121
Apologies for not looking at this, I am no longer working on google-signin, so I can't help you. @ebidel ?

I understand your problem, you want to know when signedIn value has been initialized to its stable state.
The problem is caused by signedIn being a boolean, while it really can be in 3 states: unknown, signedIn, or signedOut.
The proposed patch adds another property: `initialized`.
Personall

[2017-01-17 08:46] filipproch commented on #121
The usage of another property approach is also used in Polymerfire library, where you have "statusKnown" property. (https://github.com/firebase/polymerfire/blob/master/firebase-auth.html)

As it would be breaking changes to change the type of signedIn, I personally think it would be better to add another property than to introduce another confusing property and thus having 'signedIn' and 'signedIn

[2017-01-19 14:56] soonick commented on #121
@ebidel can you help us with this?

[2017-01-24 05:23] soonick commented on #121
@ebidel sorry for pinging you again, but I would really like to use this component and I can't use it without this feature. Can you help us?

[2017-01-24 05:58] filipproch commented on #121
@soonick Then fork it, modify it and use your modified component, you can also send a pull request if you think it would be appropriate

[2017-01-24 06:39] soonick commented on #121
@filipproch. I want to leave forking it as a last resort. We already have a pull request: #153

[2017-01-24 06:45] filipproch commented on #121
@soonick I know, just saying you don't have to wait for @ebidel to merge the pull request, if you really need it, that's what open source gives you

[2017-01-24 21:46] atotic commented on #121
Change has been merged.

[2017-01-24 21:46] #121 closed

[2017-01-25 01:26] soonick commented on #121
Thank you :)

[2017-01-25 08:02] atotic commented on #121
👍

[2017-01-26 19:42] esd100 commented on #139
Is this still an issue? Why hasn't anyone fixed this?

[2017-01-27 00:04] LM450N commented on #139
I don't know. I have proposed a PR with a workaround...

[2017-01-27 00:43] #139 closed

[2017-03-09 21:54] justincy opened #157 "Demo broken on webcomponents.org: redirect_uri_mismatch"
The `google-signin` [demo](https://www.webcomponents.org/element/GoogleWebComponents/google-signin/demo/demo/index.html) on webcomponents.org is broken.

![image](https://cloud.githubusercontent.com/assets/1037458/23772445/95d24c14-04e0-11e7-9173-616e45b8d0b1.png)

[2017-03-10 11:31] TemplarRei opened #158 "[Request] Polymer 2.0 support"
Most google web componets have a 2.0-preview branch. Is there a chance this will happen soon for the google-signin? Currently, after updating to Polymer 2.0 rc2, I get the following error on clicking the signin button:
`Uncaught Error: AuthEngine not initialized. gapi has not loaded.
    at Object.assertAuthInitialized (google-signin-aware.html:418)
    at Object.signIn (google-signin-aware.html:4

[2017-03-18 18:52] posix4e commented on #99
Hello anyone working about this?

[2017-03-19 10:43] adrienjoly commented on #99
@posix4e I don't think anyone is, unfortunately...

As @atotic said, I guess that the component could catch the error. But then, how should it react? Do you think of any alternative way the component could login the user, for instance?

[2017-03-19 10:52] adrienjoly commented on #99
Maybe @sbeleidy (creator of [login-fire](https://www.webcomponents.org/element/convoo/login-fire)) has an idea?

[2017-03-19 20:31] sbeleidy commented on #99
@adrienjoly not sure really - you can check if cookies are enabled using [`navigator.cookieEnabled`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/cookieEnabled) and handle that outside of the component. But I think that will apply to the site using the component not accounts.google.com so you'd still get issues if one and not the other are whitelisted. Not sure how to check if cookie

[2017-03-20 20:56] svachalek commented on #99
A lot of time has passed and I'm not even working on the project that was using this button anymore, but just to clarify the discussion: the problem is not that I wanted the button to react to the failure as @adrienjoly is suggesting, just to pass it on. I would have been fine catching an event and having the app just announce to the user that login was failing and maybe they should check their co

[2017-04-12 07:30] StephanBeutel commented on #60
Any news on this problem? I'm also fighting with this problem.

Would be great to get the component working in a cordova app.

[2017-04-19 19:17] AndrewBarfield commented on #158
Same here I'm dead in the water...

I've added `<script src="https://apis.google.com/js/platform.js"></script>` to my index.html, but now the message is about 'auth2' not being loaded:

    at Object.assertAuthInitialized (google-signin-aware.html:421)
    at Object.signIn (google-signin-aware.html:427)
    at HTMLElement.signIn (google-signin-aware.html:731)
    at HTMLElement.signIn (google-sign

[2017-08-04 11:07] krisu7 commented on #158
@TemplarRei @AndrewBarfield add this to index.html:
[code]
and in your module:
[code]

[2017-08-04 12:23] TemplarRei commented on #158
Thanks, @krisu7, we just restarted development on the migration and this should be quite helpful 👍

[2017-08-04 13:53] krisu7 commented on #158
@TemplarRei You're welcome, I just had the same problem and this was only solution that worked for me.

[2017-08-22 09:33] ManoBalaR commented on #60
Same Problem Here..

When using the google-signin component / button for a mobile web app (Add to homescreen, start without browser controls, "web app" mode) the G+ sign-in doesn't work.
Pressing the button opens a new window in Chrome where the user can approve the G+ sign-in but after the authorization is complete, the user it not returned to the web app.

Is there any way to solve this ?

[2017-09-24 08:34] FluorescentHallucinogen commented on #156
@addyosmani @Zoramite Any progress?

[2017-11-03 17:41] monisha3107 opened #162 "ux_mode not an option parameter for gapi.auth2.init"
I am trying to avoid a browser pop-up and use ux_mode='redirect' during init() or signIn() and it seems like I cannot use this as one of the option parameters to either of those methods. Has this been removed/modified?

  **index.html** has this and loads **appcomponent.html**:
`<script src="https://apis.google.com/js/platform.js" async defer></script>
`

 **appcomponent.html** has this:
[code]

A

[2017-11-22 20:35] arcodebonte opened #163 "Integration of Googleyolo?"
Can one-tap sign-up and auto sign-in also be integrated in google-signin?
https://developers.google.com/identity/one-tap/web/

[2018-02-10 16:38] Lalitha-Iyer commented on #103
@Zoramite  how do apps implement logout. cause even if i logout the user from my app, and next time redirect him to google for signin, google doesn't show the signin page, instead it does a immediate redirect. As an effect the user doesn't get to undo his consent when he logs out of the app. I would expect that after logout the user shld see the permissions that app is requesting at the time of ne

[2018-02-12 03:34] atotic commented on #103
By default, Google auth remembers granted permissions. This keeps number of security prompts to a minimum. You can request that all permissions be revoked when signing out by calling disconnect.
See Google Auth documentation for more information: https://developers.google.com/identity/sign-in/web/disconnect

[2018-03-12 12:27] Sourav-21 commented on #163
I think it is time to make your own custom element! No commit since last 10 months

[2018-07-13 08:23] achus-ui opened #164 "Google SignIn Component not Working properly"
Am integrating google signin component to my Angular 6 application and am getting this error at the time application loading itself.

"gapi.auth2 has been initialized with different options. Consider calling gapi.auth2.getAuthInstance() instead of gapi.auth2.init()."

Somebody please revert back

[2018-08-04 18:06] dman777 commented on #162
I get the pop-up using Polymer 1 one with:

[code]

[2018-10-02 09:06] dhrytsenko opened #165 "npm support"
I didn't find `google-signin` element in npm. Do you have plans to publish it or this element is deprecated?

[2018-11-01 19:47] arobins opened #167 "AuthEngine is incompatible with closure compiler's advanced optimizations"
When advanced optimizations are enabled, objects (like AuthEngine) are flattened. The flattening causes functions on those objects are no longer part of an object, so the meaning of `this` changes. Depending on other compiler flags, this either produces warnings during compilation and fails when executed (because `this` doesn't exist) or produces compiler errors.

See https://developers.google.com

[2018-11-02 18:34] #167 closed

[2019-01-07 12:32] pkaske opened #171 "Wrong import path for google-js-apis.js?"
Is it possible that I https://github.com/GoogleWebComponents/google-signin/blob/master/google-signin-aware.js#L19 should read `import '@google-web-components/google-apis/google-js-api.js';` instead of `import 'google-apis/google-js-api.js';` ?

[2019-01-07 22:05] #171 closed

[2019-01-07 22:55] rslawik commented on #165
You can now find the element on npm:
https://www.npmjs.com/package/@google-web-components/google-signin

[2019-02-11 14:13] jingweihaha commented on #164
+1

[2020-02-06 07:16] neaumusic commented on #102
Sign-In to get OpenID id_token from a chrome extension seems impossible without exposing it in the URL and whitelisting / routing to https:// protocol like deprecated https://asdfmychromextensionshaasdf.chromiumapp.org/

This could have been possible with `chrome.windows.create` incognito, but there is no way to whitelist the chrome extension as a certified endpoint, which kinda makes sense(?)

Ul

[2020-02-27 04:33] gordonisnz opened #173 "has anyone got a working example of google sign-in ?"
https://developers.google.com/identity/sign-in/web/sign-in

The Google sign-in documentation needs to be improved.

the video (top right) mentions a sample code of a (presumably) WORKING script. i cant find this sample code - only lines of "bits" of code - but not a full working script.

When i follow the examples & add my lines I'm getting lots of errors (I start from scratch again & get new prob

[2020-03-13 12:25] srikanta72 commented on #102
I am getting the same error.
<html>
<head>
    <style>
        /* Put your CSS over here */

     </style>

    <script src="https://apis.google.com/js/api.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script>
        function start() {
            // 2. Initialize

[2020-09-30 18:22] tazik-castodia commented on #101
I'm having the same issue with `ss_domain` in localhost. My request works perfectly once I remove the parameter, which defaults to my origin. I can't find anything on it in the documentation, so any insight would be appreciated.

[2021-01-10 10:34] vamsi-manyam commented on #60
Hey did someone found the solution for this?

[2021-04-15 08:43] gcsaba2 opened #175 "Obtaining code via gapi.auth2.authorize doesn't return a valid code"
I'm able to reproduce the issue like this:

1. I have an anchor on my HTML page which leads to google's auth server. Google will respond with a redirect URL, this URL will contain the code.
2. I input this code into the `curl` command below:
[code]
3. Running this command will return an access_token

OK this works. So now I want to do the exact same thing with javascript.

This is the code:

[code

[2021-06-27 01:52] ajaykmankani commented on #60
me too on the same page my google sign in working on a computer browser but not on an android chrome browser. anybody have any solutions?

[2021-07-03 06:31] TCode110 opened #176 "in bower.json file it is showing apache version 2.0 that is vulnerable with RCE and others exploits"

[2021-07-19 18:06] harleenarora commented on #102
how to solved this issue, on chrome extension.

[2022-01-05 15:32] sudipstha08 commented on #138
I am getting this error in next js. Am i doing sth wrong ?

[code]

[code]

[2022-08-13 20:14] hieugia3030 commented on #60
I am also facing this issue, has the problem been fixed yet?